a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.my-table {
    font-size: 14px;
    th,
    td {
        vertical-align: middle;
    }
}
.category-photo {
    width: 75px;
    cursor: pointer;
}
.search-area {
    label {
        font-size: 14px;
    }
}
.no-data-found-container {
    width: 100%;
    min-height: 40px;
    .no-data-found {
        position: absolute;
    }
}

.bg-gray {
    background-color: #d4dae3 !important;
}
